body, nav, .pagination li a, input, textarea{
    background-color: #001d3d;
    color: #fff;
}

nav{
    border-bottom: 1px solid #fff;
}

a{
    color: #ffd60a;
}

.content, .nav-wrapper{
    width: 75%;
}

.nav-wrapper{
    margin: 0 auto;
}

.content{
    padding: 20px;
}

.main{
    display: flex;
}

.tab{
    padding: 10px;
    border-right: 1px solid #fff;
}

.comment-header{
    display: flex;
    justify-content: space-between;
}

.card{
    padding: 8px;
    background-color: #001d3d;
}

img{
    width: 50vw;
    margin-right: 16px;
}

.btn, .pagination li.active, .pagination li.active a{
    background-color: #ffd60a;
    color: #000;
}

.btn:hover{
    background-color: #566e00;
}

a:hover{
    color: #566e00;
}

textarea{
    resize: none;
}

.input-file {
	position: relative;
	display: inline-block;
}

.input-file span {
	position: relative;
	display: inline-block;
}

.input-file input[type=file] {
	position: absolute;
	z-index: -1;
	opacity: 0;
	display: block;
	width: 0;
	height: 0;
}
 
.input-file input[type=file]:focus + span {
	box-shadow: 0 0 0 0.2rem rgba(0,123,255,.25);
}

ul#res{
    display: flex;
    flex-direction: column;
    position: absolute;
    background-color: #001d3d;
    
}

ul#res li{
    border: 1px solid #fff;
}

.highlight{
    background-color: #ffd60a;
    color: #000;
}